// Color & Background
$primary-color-body: #4a5f73;
$blue-color-light: #00bfd6;
$red-color-light: #ef5661;

// Font Family
$font-iransans: IRANSans;
$font-normal: 14px;

// As hex codes
$color-primary-0: #00d2eb;
$color-primary-1: #00cae1;
$color-primary-2: #00bfd6;
$color-primary-3: #00aec3;
$color-primary-4: #009daf;

// As RGBa codes */
$rgba-primary-0: rgba(0,175,196,0.8);
$rgba-primary-1: rgba(0,162,180,0.8);
$rgba-primary-2: rgba(0,191,214,0.8);
$rgba-primary-3: rgba(0,174,195,0.8);
$rgba-primary-4: rgba(0,157,175,0.8);
